#main{
  position: relative;
  width: 100%;
  margin-left: 280px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #main{
    margin-left: 0px;
  }

  #nav{
    z-index: 2000;
  }
  
}

#app{
  margin-top: 70px;
}

body{
  background-color: #ebe9e9;
  overflow-x: hidden;
}

.img-responsive{
  width: 100%;
}

.cover{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 4;
}
